@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
}

#app {
  background-image: url(/bg.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 50% 0%;
}

#thumbnail {
  position: relative;
  background-image: url(/vd.jpg);
  background-position: center;
  background-size: 100%;
  transition: background-size 500ms ease;
}

#thumbnail:hover {
  background-size: 110%;
}

#thumbnail::before {
  position: absolute;
  content: "";
  inset: 0;
  background: #000;
  opacity: 0;
  transition: 500ms ease-in opacity;
}

#thumbnail:hover::before {
  opacity: 0.6;
}

#play-btn {
  cursor: pointer;
  position: relative;
}

.card {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.15);
  position: relative;
  transition: 400ms ease all;
  overflow: hidden;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.8);
}

.card > span {
  opacity: 0.5;
  transition: 400ms ease all;
}

.card::before {
  content: "";
  position: absolute;
  translate: 50% 50%;
  right: 0;
  bottom: 0;
  width: 60%;
  aspect-ratio: 1/1;
  background: rgb(255, 255, 255);
  filter: blur(120px);
  opacity: 0.05;
  transition: 800ms ease all;
}

.card:hover::before {
  translate: -50% -50%;
  opacity: 0.15;
  width: 90%;
}

.card:hover {
  border: 1px solid rgba(255, 255, 255, 0.225);
}

.card:hover > span {
  opacity: 0.8;
}

.play {
  position: absolute;
  bottom: calc(100% + 10px);
  width: 120px;
  opacity: 0;
  translate: 0 10px;
  transition: 250ms ease all;
}

#play-btn:hover > .play {
  translate: 0 0;
  opacity: 1;
}
